#social-flow {
	height: 400px;
	overflow: hidden;
	position: relative;
	background-color: #ccc;
}
#social-flow .item {
	background-color: red;
	height: 30px;
	width: 300px;
	position: absolute;
	left: -100%;
	-webkit-animation-play-state: running;
	-webkit-animation-name: movingleft;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-duration: 10s;
}
#social-flow .item.speed-fast {
	-webkit-animation-duration: 20s;
}
#social-flow .item.speed-normal {
	-webkit-animation-duration: 10s;
}
#social-flow .item.speed-slow {
	-webkit-animation-duration: 5s;
}
#social-flow .item:hover {
	-webkit-animation-play-state: paused;
	z-index: 100;

}



@-webkit-keyframes movingleft {
	0%   { left: 100%; }
	100% { left: -100%; }
}
